[flake8]
max-line-length = 120
exclude = .git,__pycache__,docs/conf.py,old,build,dist
ignore = E123,E124,E126,E128,W503,E741

#E123: Indentación incorrecta al cerrar una estructura (como paréntesis, corchetes, etc.).
#E124: La indentación es incorrecta para una línea que está colgada en varias líneas.
#E126: La indentación no cumple con la convención para la continuación de líneas.
#E128: Indentación incorrecta para la continuación de líneas.
#E741: Evita utilizar variables de una sola letra (en especial l, O, I) para mayor claridad.

#W503: Se desaconseja la interrupción de una línea antes de un operador binario (como +, -, *, etc.). 
#Esta regla es controversial porque hay desacuerdo sobre cuándo debe interrumpirse una línea.