# Script Server Presik API Technologies

[Unit]
Description=API Fast Server
After=network.target

[Service]
User=psk
WorkingDirectory=/home/user/predash/api-fast
ExecStart=/home/psk/.virtualenvs/tryton60/bin/uvicorn main:app --reload --port 8010 --host 0.0.0.0
#ExecStop=

[Install]
WantedBy=multi-user.target

